<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: nav"></nav>

<body style="background-color: #ACACAC">
<div class="page-holder bg-cover" style="padding: 20px;">
    <div class="container px-5 my-5 text-center">
        <form>
            <h1>Reviews</h1>
            <div class = "input-group">
                <div class="form-outline">
                    <input type="search" class="form-control"/>
                </div>
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Stars
                        </th>
                        <th>
                            Park
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Date of Review
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-stripped" th:each="review : ${review}">
                        <td></td>
                        <td th:text="${review.getNumberOfStars()}">Stars</td>
                        <td th:text="${review.getPark()}">Park</td>
                        <td th:text="${review.getLocation()}">Location</td>
                        <td th:text="${review.getDescription()}">Description</td>
                        <td th:text="${review.getReviewDate()}">Date of Review</td>
                    </tr>
                    </tbody>
                </table>
<!--                <button></button>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>