<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: nav"></nav>

<body style="background-color: #ACACAC">
<div class="page-holder bg-cover" style="padding: 20px;">
    <div class="container px-5 my-5 text-center">
        <h1>Reviews</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Stars
                        </th>
                        <th>
                            Park
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Date of Review
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-stripped" th:each="review : ${review}">
                        <td th:text="${review.getNumberOfStars()}">Stars</td>
                        <td><a th:href="@{~/park/{placeId}/details(placeId=${review.getPark().getPlaceId()})}" th:text="${review.getParkName()}"></a></td>
                        <td th:text="${review.getDescription()}">Description</td>
                        <td th:text="${review.dateToString()}">Date of Review</td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <a class="btn btn-primary btn-sml" th:href="@{/user/{userId}/create-event/parks(userId=${#session.getAttribute('userId')})}" role="button">Find a Park</a>
                </div>
        </div>
    </div>
</div>
</body>
</html>