<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: nav"></nav>
<body style="background-color: #ACACAC">

<div class="page-holder bg-cover" style="padding: 20px;">
    <div class="container rounded bg-white mt-3 mb-3">
        <div class="row text-center">
            <div class="jumbotron">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5 mt-3" style="text-align: center;"><i class="fas fa-tree" style="-webkit-text-stroke: 1px white; font-size: 50px;"></i></div>
                <h1 class="display-3" style="text-align: center;" th:text="${park.name}">Park Name</h1>
                <p class="lead" style="font-size: 30px;" th:text="${park.address}">Park Address</p>
                <h5 style="height: 24px; font-weight: 600; padding-top: 5px; padding-bottom: 5px;">Average Park Rating</h5>
                <p class="lead" style="padding-bottom: 1px; padding-top: 5px;" th:text="${ratingAverage}">Total Ratings</p>
                <div class="container" style=""></div>
                <div class="row border border-4 mx-3">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <h5 class="labels">Reviews</h5>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>
                                        Stars
                                    </th>
                                    <th>
                                        Park
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Date of Review
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-stripped" th:each="review : ${reviews}">
                                    <td th:text="${review.getNumberOfStars()}">Stars</td>
                                    <td><a th:href="@{~/park/{placeId}/details(placeId=${review.getPark().getPlaceId()})}" th:text="${review.getParkName()}"></a></td>
                                    <td th:text="${review.getDescription()}">Description</td>
                                    <td th:text="${review.getReviewDate()}">Date of Review</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" style="text-align: center;">
                <h4 class="card-title" style="text-align: center;"></h4>
                <a class="btn btn-primary btn-sml" th:value="${park.getPlaceId()}" th:href="@{/create-event/{placeId}/details(placeId=${park.getPlaceId()})}" role="button">Create Event</a>
                <a class="btn btn-primary btn-sml" th:value="${park.getPlaceId()}" th:href="@{/review/create-review/{placeId}(userId=${#session.getAttribute('userId')}, placeId=${park.getPlaceId()})}" role="button">Create Review</a>
                <a th:href="@{/user/{userId}/home(userId=${#session.getAttribute('userId')})}" class="btn btn-outline-dark" style="text-align: center; float: none;">Home</a>
            </div>
        </div>
    </div>

</div>


</body>
</html>