<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: nav"></nav>

<body style="background-color: #ACACAC">
<div class="page-holder bg-cover" style="padding: 20px;">
    <div class="container px-5 my-5 text-center">
        <h1 class="cursive-5" style="font-family: 'Lobster', cursive; color: crimson; -webkit-text-stroke: 2px crimson; letter-spacing: 6px; font-size: 75px; ">
            <i class="fas fa-dog" style="-webkit-text-stroke: 1px white; font-size: 50px;"></i>
            Create Event
            <i class="fas fa-dog" style="-webkit-text-stroke: 1px white; font-size: 50px;"></i>
        </h1>
        <form method="post">
            <div class="form-floating mb-3">
                <input disabled th:field="${event.park}" class="form-control" id="breed" type="text" placeholder="Park"/>
                <label th:text="${park.getName()}">Park</label>
                <p class="error" th:errors="${event.park}"></p>
            </div>
            <div class="form-floating mb-3">
                <input th:field="${event.title}" class="form-control" id="title" type="text" placeholder="Event Name"/>
                <label for="title">Name</label>
                <p class="error" th:errors="${event.title}"></p>
            </div>
            <div class="form-floating mb-3">
                <input th:field="${event.date}" class="form-control" type="datetime-local" placeholder="Date"/>
                <label>Date</label>
                <p class="error" th:errors="${event.date}"></p>
            </div>
            <div class="form-floating mb-3">
                <select th:field="${event.desiredTemperament}" class="form-select" id="temperament" aria-label="Temperament">
                    <option th:each="type : ${types}"
                            th:value="${type}"
                            th:text="${type.temperamentType}"
                    ></option>
                </select>
                <label for="temperament">Desired Dog Temperament</label>
            </div>
            <div class="form-floating mb-3">
                <select th:field="${event.desiredActivity}" class="form-select" id="activityLevel" aria-label="Activity Level">
                    <<option th:each="activity : ${activityLevels}"
                             th:value="${activity}"
                             th:text="${activity.activityLevel}"
                ></option>
                </select>
                <label for="activityLevel">Desired Dog Activity Level</label>
            </div>
            <div class="form-group">
<!--                <label>Attending Dogs</label>-->
<!--                <select th:field="${event.dogAttendees}" multiple="multiple"  >-->
<!--                    <div>-->
<!--                        <option th:each="dog : ${user.getDogs()}"-->
<!--                                th:field="${event.dogAttendees}"-->
<!--                                th:value="${dog.getId()}"-->
<!--                                th:text="${dog.getName()}">-->

<!--                        </option>-->
<!--                    </div>-->
<!--                </select>-->
                <fieldset>
                    <legend>What dogs are attending this event?</legend>
                    <div th:each="dog : ${user.getDogs()}" >
                        <input type="checkbox" th:value="${dog.getId()}" name="dogAttendees">
                        <label th:text="${dog.getName()}">Dog Name</label>
                    </div>
                </fieldset>
            </div>
            <div class="d-grid">
                <button class="btn btn-outline-dark btn-lg" id="submitButton" type="submit">Create Event</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>