<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<ul class="cb-slideshow" style="list-style-type:none;">
    <li>
        <span>Image 01</span>
    </li>
    <li>
        <span>Image 02</span>
    </li>
    <li>
        <span>Image 03</span>
    </li>
    <li>
        <span>Image 04</span>
    </li>
</ul>
<nav th:replace="fragments :: nav"></nav>
<body style="background-color: #406343;">

<div class="page-holder bg-cover" style="padding: 20px;">
    <div class="container rounded bg-white mt-3 mb-3">
        <div class="row text-center">
            <div class="jumbotron">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5 mt-3" style="text-align: center;"><i class="fas fa-calendar-minus" style="-webkit-text-stroke: 1px white; font-size: 50px;"></i></div>
                <h1 class="display-3" style="text-align: center;" th:text="${event.title}">Event Name</h1>
                <h2 class="lead" th:text="${event.park.name}">Park</h2>
                <h3 class="lead" th:text="${event.park.address}">Address</h3>
                <div class="container" style=""></div>
                <div class="row border border-4 mx-3">
                    <div class="col-sm-4">
                        <h5 style="padding-top: 5px; padding-bottom: 0px; height: 20px;">Date</h5>
                        <p class="lead"></p><p class="lead" style="padding-top: 0px;" th:text="${event.dateToString()}">Date</p>
                    </div>
                    <div class="col-sm-4">
                        <h5 style="height: 24px; font-weight: 600; padding-top: 5px; padding-bottom: 5px;">Preferred Activity Level</h5>
                        <p class="lead" style="padding-bottom: 1px; padding-top: 5px;" th:text="${event.desiredActivity}">Activity Level</p>
                    </div>
                    <div class="col-sm-4" style="text-decoration-color: rgb(255, 255, 255);">
                        <h5 style="padding-top: 5px;">Preferred Temperament</h5>
                        <p class="lead" th:text="${event.desiredTemperament}">Temperament</p>
                    </div>
                </div>
                <div class="row border border-4 mx-3">
                    <div class="col-sm-6">
                        <h5 style="padding-top: 5px; height: 20px;">Users Attending</h5>
                        <p class="lead" th:if="${event.userAttendees.size() <= 0}">No users are attending this event!</p>
                        <table class="table table-striped">
                            <tr th:each="user : ${event.userAttendees}">
                                <td><a th:href="@{/user/{userId}(userId=${user.id})}" th:text="${user.username}"></a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <h5 style="height: 20px; padding-top: 5px;">Dogs Attending</h5>
                        <p class="lead" th:if="${event.dogAttendees.size() <= 0}">No dogs are attending this event!</p>
                        <table class="table table-striped">
                            <tr th:each="dog : ${event.dogAttendees}">
                                <td><a th:href="@{/dog/{dogId}(dogId=${dog.id})}" th:text="${dog.name}"></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title" style="text-align: center;" th:text="'Event Creator: ' + ${event.creator.username}">Event Creator</h4>
                    <a th:href="@{/user/{id}(id=${creator.id})}" th:if="${event.creator != user}" class="btn btn-outline-dark" style="text-align: center; float: none;">Visit Profile</a>
                    <a class="btn btn-outline-dark btn-sml" th:if="${event.getCreator == user}" th:value="${event.getId()}" th:href="@{~/user/{userId}/edit-event/{eventId}(eventId=${event.getId}, userId=${user.getId})}" role="button" style="font-size: 15px">Edit</a>
                    <div style="padding: 5px;">
                        <a class="btn btn-outline-dark btn-sml" th:if="${!event.getUserAttendees.contains(user) && event.getCreator != user}" th:value="${event.getId()}" th:href="@{~/event/{eventId}/join(eventId=${event.getId})}" role="button" style="font-size: 15px">Join</a>
                        <a class="btn btn-outline-dark btn-sml" th:if="${user.events.contains(event) && event.getCreator != user}" th:value="${event.getId()}" th:href="@{~/event/{eventId}/leave(eventId=${event.getId})}" role="button" style="font-size: 15px">Leave</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>