<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: nav"></nav>
<body class="page-holder bg-cover" style="background-color: #406343;">

<div class="page-holder bg-cover" style="padding: 20px;">
    <div class="container rounded bg-white mt-3 mb-3">
        <div class="row text-center">
            <div class="jumbotron">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5 mt-3" style="text-align: center;"><i class="fas fa-calendar-minus" style="-webkit-text-stroke: 1px white; font-size: 50px;"></i></div>
                <h1 class="display-3" style="text-align: center;" th:text="${event.title}">Event Name</h1>
                <h2 class="lead" th:text="${event.park.name}">Park</h2>
                <h3 class="lead" th:text="${event.park.address}">Address</h3>
                <div class="container" style="">
                    <div class="container py-5 h-100" style="padding: 20px;">
                        <div class="row justify-content-center align-items-center h-100">
                            <div class="col col-xl-10">
                                <div class="card" style="border-radius: 1rem; background-color: #ACACAC;">
                                    <div class="row g-0">
                                        <form method="post">
                                            <div class="p-4 p-lg-5 text-black align-items-center text-center ">
                                                <fieldset>
                                                    <legend>What dogs are attending this event?</legend>
                                                    <p class="lead" th:if="${dogs == null || dogs.size() == 0}">Oops! Your dogs don't meet the event requirements!</p>
                                                    <div th:each="dog : ${dogs}" >
                                                        <input type="checkbox" th:value="${dog.getId()}" name="dogAttendees">
                                                        <label th:text="${dog.getName()}">Dog Name</label>
                                                    </div>
                                                </fieldset>
                                                <div class="d-grid">
                                                    <button class="btn btn-outline-dark btn-sm" th:if="${dogs.size() > 0}" id="submitButton" type="submit">Join</button>
                                                    <button class="btn btn-outline-dark btn-sm" th:href="@{~/home}" th:if="${dogs == null || dogs.size() == 0}">Back</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row border border-4 mx-3">
                    <div class="col-sm-4">
                        <h5 style="padding-top: 5px; padding-bottom: 0px; height: 20px;">Date</h5>
                        <p class="lead"></p><p class="lead" style="padding-top: 0px;" th:text="${event.dateToString()}">Date</p>
                    </div>
                    <div class="col-sm-4">
                        <h5 style="height: 24px; font-weight: 600; padding-top: 5px; padding-bottom: 5px;">Desired Activity Level</h5>
                        <p class="lead" style="padding-bottom: 1px; padding-top: 5px;" th:text="${event.desiredActivity}">Desired Activity Level</p>
                    </div>
                    <div class="col-sm-4" style="text-decoration-color: rgb(255, 255, 255);">
                        <h5 style="padding-top: 5px;">Desired Temperament</h5>
                        <p class="lead" th:text="${event.desiredTemperament}">Desired Temperament</p>
                    </div>
                </div>
                <div class="row border border-4 mx-3">
                    <div class="col-sm-6">
                        <h5 style="padding-top: 5px; height: 20px;">Users Attending</h5>
                        <p class="lead" th:if="${event.userAttendees.size() <= 0}">No users are attending this event!</p>
                        <table class="table table-striped">
                            <tr th:each="user : ${event.userAttendees}">
                                <td><a th:href="@{/user/{userId}(userId=${user.id})}" th:text="${user.username}"></a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <h5 style="height: 20px; padding-top: 5px;">Dogs Attending</h5>
                        <p class="lead" th:if="${event.dogAttendees.size() <= 0}">No dogs are attending this event!</p>
                        <table class="table table-striped">
                            <tr th:each="dog : ${event.dogAttendees}">
                                <td><a th:href="@{/dog/{dogId}(dogId=${dog.id})}" th:text="${dog.name}"></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title" style="text-align: center;" th:text="'Event Creator: ' + ${event.creator.username}">Event Creator</h4>
                    <a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-outline-dark" style="text-align: center; float: none;">Visit Profile</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>

