.page-holder {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover !important;
  background-position:50% 50%;
}

.cursive {
    font-family: 'Lobster', cursive;
    color: crimson;
    -webkit-text-stroke: 2px crimson;
    letter-spacing: 6px;
    font-size: 125px;
}

.subtext_font {
    font-family: 'Merriweather', serif;
    color: white;
    -webkit-text-stroke: 2px black;
}


.navbar_font {
    font-family: 'Lobster', cursive;
    color: crimson;
    letter-spacing: 2px;

}




