<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: nav"></nav>
<body style="background-color: #ACACAC">
<div class="page-holder bg-cover" style="padding: 20px;">
    <div class="container rounded bg-white mt-3 mb-3 align-items-center text-center" style="text-align: center;">
        <form method="post" th:object="${dog}">
            <div class="row text-center">
                <div class="jumbotron">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5 mt-3" style="text-align: center;"><i class="fas fa-dog" style="-webkit-text-stroke: 1px white; font-size: 50px;"></i></div>
                    <h1 class="display-3" style="text-align: center;" th:text="${dog.name}">Dog Name</h1>
                    <div class="form-floating mb-3">
                        <input th:field="${dog.name}" class="form-control"/>
                        <label>Name</label>
                        <p class="error" th:errors="${editDogDTO.name}"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input th:field="${dog.breed}" class="form-control"/>
                        <label>Breed</label>
                        <p class="error" th:errors="${editDogDTO.breed}"></p>
                    </div>
                    <div class="container" style=""></div>
                    <div class="row border border-4 mx-3">
                        <div class="col-sm-4">
                            <h5 spellcheckker="false" style="padding-top: 5px;">Age</h5>
                            <div class="form-floating mb-3">
                                <input th:field="${dog.age}"/>
                                <label>Age</label>
                                <p class="error" th:errors="${editDogDTO.age}"></p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-5">
                            <h5 spellcheckker="false" style="padding-top: 5px;">Activity Level</h5>
                            <div class="form-floating mb-3">
                                <select th:field="${dog.activity}" class="form-select">
                                    <option th:value="${activityLevels[0]}" th:text="${activityLevels[0].activityLevel}"></option>
                                    <option th:value="${activityLevels[1]}" th:text="${activityLevels[1].activityLevel}"></option>
                                    <option th:value="${activityLevels[2]}" th:text="${activityLevels[2].activityLevel}"></option>
                                </select>
                                <label>Activity Level</label>
                            </div>
                        </div>
                        <div class="col-sm-4" style="text-decoration-color: rgb(255, 255, 255);">
                            <h5 spellcheckker="false" style="padding-top: 5px;">Temperament</h5>
                            <div class="form-floating mb-3">
                                <select th:field="${dog.type}" class="form-select">
                                    <option th:value="${types[0]}" th:text="${types[0].temperamentType}"></option>
                                    <option th:value="${types[1]}" th:text="${types[1].temperamentType}"></option>
                                    <option th:value="${types[2]}" th:text="${types[2].temperamentType}"></option>
                                </select>
                                <label>Temperament</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <label><p class="lead">Remove?</p></label>
                        <input type="checkbox" name="ids" style="width:20px; height:20px; border-radius:5px; border:2px solid #555;" th:value="${dog.id}">
                        <button class="btn btn-primary btn-lg" type="submit">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>