<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: nav"></nav>
<body style="background-color: #ACACAC">
<div class="page-holder bg-cover" style="padding: 20px;">
    <div class="container rounded bg-white mt-3 mb-3">
        <div class="row">
            <div class="col-md-5 border-right text-center px-5 my-5">
                <h3 th:text="${user.firstName} + '\'s Dogs'"></h3>
                <div class="jumbotron">
                    <div th:each="userDog : ${userDogs}">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5 mt-3" style="text-align: center;"><i class="fas fa-dog" style="-webkit-text-stroke: 1px white; font-size: 50px;"></i></div>
                    <h1 class="display-3" style="text-align: center;" th:text="${userDog.name}">Dog Name</h1>
                    <p class="lead" style="font-size: 30px;" th:text="${userDog.breed}">Dog Breed</p>
                    <div class="container" style=""></div>
                    <div class="row border border-4 mx-3">
                        <div class="col-sm-4">
                            <h5 style="padding-top: 5px; padding-bottom: 0px; height: 20px;">Age</h5>
                            <p class="lead"></p><p class="lead" style="padding-top: 0px;" th:text="${userDog.age} + ' Year(s) Old'">Age</p>
                        </div>
                        <div class="col-sm-4 col-5">
                            <h5 style="height: 24px; font-weight: 600; padding-top: 5px; padding-bottom: 5px;">Activity Level</h5>
                            <p class="lead" style="padding-bottom: 1px; padding-top: 5px;" th:text="${userDog.activity}">Activity Level</p>
                        </div>
                        <div class="col-sm-4" style="text-decoration-color: rgb(255, 255, 255);"><h5 contenteditable="true" spellcheckker="false" style="padding-top: 5px;">Temperament</h5>
                            <p class="lead" th:text="${userDog.type}">Temperament</p>
                        </div>
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <h4 class="card-title" style="text-align: center;" th:text="'Owner: ' + ${user.username}">Owner</h4>
                        <input type="checkbox" name="ids" th:value="${userDog.id}">
                        <label>Remove?</label>
                        <a th:href="@{/user/{id}(id=${user.id})}" th:text="'Visit ' + ${user.username} +'\'s Profile'" class="btn btn-outline-dark" style="text-align: center; float: none;">Visit User Profile</a>
                        <a th:href="@{/user/{id}/dog/{dogId}(id=${user.id}, dogId=${userDog.id})}" th:text="'Visit ' + ${userDog.name} +'\'s Profile'" class="btn btn-outline-dark" style="text-align: center; float: none;"></a>
                        <a th:href="@{/user/edit-dog-profile/{dogId}(dogId=${userDog.id})}" th:text="'Edit ' + ${userDog.name} +'\'s Info'" class="btn btn-outline-dark" style="text-align: center; float: none;">Edit</a>
                    </div>
                    </div>
                </div>
                <div>
                <form method="post">
                    <a class="btn btn-primary btn-lg" th:href="@{/user/add-dog}" role="button">Add Dog</a>
                    <button class="btn btn-primary btn-lg" type="submit">Save Changes</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>