<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: nav"></nav>
<body style="background-color: #ACACAC">
<div class="page-holder bg-cover" style="padding: 20px;">
  <div class="container rounded bg-white mt-3 mb-3">
    <div class="row">
        <div class="col-md-3 border-right text-center px-5 my-5">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><i class="fas fa-user-circle" style="font-size: 100px;"></i></div>
          <div><a class="btn btn-primary btn-lg" th:href="@{/user/add-dog}" role="button">Add Dog</a></div>
        </div>
        <div class="col-md-5 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h3 class="text-right" th:text="'Edit: ' + ${user.username}"></h3>
            </div>
            <form method="post" th:object="${user}">
              <div class="row mt-3">
                <div class="col-md-3">
                  <h5 class="labels">First Name</h5>
                  <input th:field="${user.firstName}" class="form-control"/>
                  <p class="error" th:errors="${editFormDTO.firstName}"></p>
                </div>
                <div class="col-md-3">
                  <h5 class="labels">Last Name</h5>
                 <input th:field="${user.lastName}" class="form-control"/>
                  <p class="error" th:errors="${editFormDTO.lastName}"></p>
                </div>
                <div class="col-md-3">
                  <h5 class="labels">Age</h5>
                  <input th:field="${user.age}" class="form-control"/>
                  <p class="error" th:errors="${editFormDTO.age}"></p>
                </div>
                <div class="col-md-3">
                  <h5 class="labels">Zip Code</h5>
                  <input th:field="${user.zipCode}" class="form-control"/>
                  <p class="error" th:errors="${editFormDTO.zipCode}"></p>
               </div>
             </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <h5 class="labels">Bio</h5>
                  <input th:field="${user.bio}" class="form-control"/>
                  <p class="error" th:errors="${editFormDTO.bio}"></p>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <h5 class="labels">Dogs</h5>
                  <table class="table table-striped">
                    <tr th:each="dog : ${user.dogs}">
                      <td><a th:text="${dog.name}"></a></td>
                    </tr>
                  </table>
                </div>
              </div>
                <button class="btn btn-primary btn-lg" type="submit">Save Changes</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</body>
</html>