<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">

  <title>Contact Us</title>

</head>

<body>
<nav th:replace="fragments :: nav"></nav>
<ul class="cb-slideshow" style="list-style-type:none;">
  <li>
    <span>Image 01</span>
  </li>
  <li>
    <span>Image 02</span>
  </li>
  <li>
    <span>Image 03</span>
  </li>
  <li>
    <span>Image 04</span>
  </li>
</ul>
<h1 class="cursive-5" style="font-family: 'Lobster', cursive; color: crimson; -webkit-text-stroke: 1px white; letter-spacing: 6px; font-size: 75px; padding: 60px; text-align: center; ">
  <i class="fas fa-dog" style="-webkit-text-stroke: 1px white; font-size: 50px;"></i>
  Contact Us
  <i class="fas fa-dog" style="-webkit-text-stroke: 1px white; font-size: 50px;"></i>
</h1>

<p align="center"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd4ilMlw8pmvhRbTA8QQlq9T1mpaXJosCv_SKXerYZdcqQUAw/viewform?embedded=true" width="900" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></p>

</body>
</html>