<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: nav"></nav>
<body style="background-color: #ACACAC">

<div class="page-holder bg-cover" style="padding: 20px;">
    <div class="container rounded bg-white mt-3 mb-3">
        <div class="container-fluid my-5">
            <form th:action="@{user/home/results}" method = "post">
                <h2>Dog events:</h2>
                <div class="input-group">
                    <div class="form-outline">
                        <input type="search" class="form-control" />
                    </div>
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th>
                                +
                            </th>
                            <th>
                                ID
                            </th>
                            <th>
                                Event Creator
                            </th>
                            <th>
                                Park
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                # of Attendees
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-stripped" th:each="event : ${event}">
                            <td><a class="btn btn-primary btn-sml" th:value="${event.getId()}" role="button">+</a></td>
                            <td th:text="${event.getId()}">Id</td>
                            <td th:text="${event.getCreator().getUsername()}">Creator Username</td>
                            <td th:text="${event.getParkName()}">Park</td>
                            <td th:text="${event.getDate()}">Date</td>
                            <td th:text="${event.getTitle()}">Title</td>
                            <td th:text="${event.getUserAttendees().size()}"># of Attendees</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>