<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: nav"></nav>
<body style="background-color: #ACACAC">

<div class="page-holder bg-cover" style="padding: 20px;">
    <div class="container rounded bg-white mt-3 mb-3">
        <div class="container-fluid my-5">
            <form th:action="@{user/home/results}" method = "post">
                <h2>Events:</h2>
                <div class="input-group">
                    <div class="form-outline">
                        <input type="search" class="form-control" />

                    </div>
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                # of Attendees
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-stripped" th:each="event : ${events}">
                            <td>Id</td>
                            <td>Name</td>
                            <td>Park</td>
                            <td>Date</td>
                            <td># of Attendees</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>