<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<ul class="cb-slideshow" style="list-style-type:none;">
    <li>
        <span>Image 01</span>
    </li>
    <li>
        <span>Image 02</span>
    </li>
    <li>
        <span>Image 03</span>
    </li>
    <li>
        <span>Image 04</span>
    </li>
</ul>
<body>
<div class="page-holder bg-cover" style="padding: 20px; min-height: 100vh; background-size: cover !important; background-position:50% 50%;">

    <div class="container text-center text-black py-5">
        <header class="text-center py-3">
            <h1 class="display-2 mb-4" style="font-family: 'Lobster', cursive; color: crimson; -webkit-text-stroke: 2px crimson; letter-spacing: 6px; font-size: 125px;">Park<span style="color: white; -webkit-text-stroke: 2px white;">Pals</span><i class="fas fa-paw" style="-webkit-text-stroke: 4px white;"></i></h1>
            <h1 class="font-weight-bold mb-4" style="font-family: 'Merriweather', serif; color: white;font-size: 30px;">Locate and commune with fellow dog enthusiasts in your area!</h1>
            <div class="d-grid gap-2 d-md-block">
                <a class="btn btn-dark btn-lg btn-block" href="/login" role="button">Login</a>
                <a class="btn btn-secondary btn-lg btn-block" href="/register" role="button">Register</a>
            </div>
        </header>
    </div>

</div>
</body>
</html>