<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div style="background: url(https://images.unsplash.com/photo-1511431833882-509a76113392?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1325&q=80)" class="page-holder bg-cover">

    <div class="container py-5">
        <header class="text-center text-black py-5">
            <h1 class="display-4 font-weight-bold mb-4">ParkPals</h1>
            <h1 class="display-2 text-white font-weight-bold mb-4">Locate and commune with fellow dog enthusiasts in your area!</h1>
            <button type="button" class="btn btn-primary btn-lg">Register</button>
            <button type="button" class="btn btn-secondary btn-lg">Login</button>
        </header>
    </div>



</div>
</body>
</html>