<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: nav"></nav>
<body>
<div style="background: url(https://images.unsplash.com/photo-1511431833882-509a76113392?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1325&q=80)" class="page-holder bg-cover">

    <div class="container text-center text-black py-5">
        <header class="text-center py-3">
            <h1 class="display-2 cursive mb-4">Park<span style="color: white; -webkit-text-stroke: 2px white;">Pals</span><i class="fas fa-paw" style="-webkit-text-stroke: 4px white;"></i></h1>
            <h1 class="lead text-white font-weight-bold mb-4">Locate and commune with fellow dog enthusiasts in your area!</h1>
            <button type="button" class="btn btn-primary btn-lg">Register</button>
        </header>
        <button type="button" class="btn btn-secondary btn-lg">Login</button>
    </div>

</div>
</body>
</html>